# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
.yarn

# production
build

# testing
coverage

# envs
.env
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# editors
.vscode
.theia
.idea

# misc
.DS_Store
